
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
}

/* Navbar  */
.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-link {
    font-size: 1.1rem;
}


.btn-primary {
    background-color: #616971;
    border-color: #616971;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}


input[type="text"], select {
    border-radius: 0.3rem;
    border: 1px solid #ced4da;
    padding: 0.5rem;
}

input[type="text"]:focus, select:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* News Container Styles */
#news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#news-container .col-md-4 {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#news-container .col-md-4:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#news-container h5 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #343a40;
}

#news-container p {
    font-size: 0.95rem;
    color: #6c757d;
}

/* Pagination Styles */
#pagination-container {
    display: flex;
    justify-content: center;
}

#pagination-container button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#pagination-container button:hover {
    background-color: #0056b3;
}

/* Footer Styles */
footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 1rem 0;
}

footer .text-center {
    font-size: 0.9rem;
}
