html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    margin-bottom: 200px; 

}

 /* Navbar   */
.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-link {
    font-size: 1.1rem;
}


.btn-primary {
    background-color: #616971;
    border-color: #616971;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}


input[type="text"], select {
    border-radius: 0.3rem;
    border: 1px solid #ced4da;
    padding: 0.5rem;
}

input[type="text"]:focus, select:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* News Container */
#news-container {
    display: flex;
    flex-wrap: wrap;
   
    justify-content:space-between;
  
}

#news-container .col-md-4 {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#news-container .col-md-4:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#news-container h5 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #343a40;
}

#news-container p {
    font-size: 0.95rem;
    color: #6c757d;
}

/* Pagination  */
#pagination-container {
    display: flex;
    justify-content: center;
}

#pagination-container button {
    background-color: #535d5d;
    color: #ffffff;
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#pagination-container button:hover {
    background-color: #0056b3;
}

/* Footer */
footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 2rem 0; /* Increased padding for better spacing */
    width: 100%;
    height: 150px;
    bottom: 0;
    position: fixed; /* Ensures it stays at the bottom */
}

footer .container {
    max-width: 1140px;
    margin: 0 auto;
}

footer h5 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    font-weight: bold; /* Enhances visibility */
}

footer a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px;
    font-size: 0.9rem;
}

footer a:hover {
    text-decoration: underline;
}

hr.bg-light {
    border: 0;
    border-top: 1px solid #ffffff;
    margin: 1rem 0; /* Added spacing around the line */
}

footer .text-center {
    font-size: 0.9rem;
}

/*  hero section covers the full viewport height */
.hero {
    background: url('https://images.pexels.com/photos/1770806/pexels-photo-1770806.jpeg') no-repeat center center;
    background-size: cover;
    color: #fff;
}

.hero h1 {
    font-size: 3rem;
    font-weight: bold;
}

.hero p {
    font-size: 1.25rem;
}

.hero .btn {
    font-size: 1.125rem;
    font-weight: bold;
    padding: 0.75rem 1.5rem;
}

